{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"


  ],
  "ignore": [
    "node_modules/**/*.*",
    "scripts*.js",
    "plugins/**/*.js",
    "src/core/**/*.js"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
